@use "sass:map";

$breakpoints: (
  'mobile': 320px,
  'tablet': 768px,
  'desktop': 1024px,
  'large': 1440px,
) !default;


@mixin mobile {
  @media (max-width: #{map.get($breakpoints, 'desktop') - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{map.get($breakpoints, 'desktop')}) {
    @content;
  }
}
