.cdb-textfield {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  position: relative;

  &__label {
    font-size: 12px;
    margin: 0 0 4px 6px;

    &--error {
      color: var(--color-red-40);
    }
  }

  &__input {
    padding: 4px 10px;
    border: 1px solid var(--color-white);

    &--error {
      border-color: var(--color-red-40);
    }
  }

  &__error {
    font-size: 10px;
    color: var(--color-red-40);
    position: absolute;
    bottom: 0;
    left: 4px;
  }
}
