.cdb-cinema-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 20px;

  &__head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__back {
    color: var(--color-white);

    &-icon {
      width: 40px;
      height: 40px;
    }
  }

  &__section {
    padding: 10px 0 30px;
  }

  &-section {
    &__date {
      font-size: 20px;
      line-height: 30px;
      border-bottom: 1px solid var(--color-white);
      padding-left: 40px;
    }

    &__movie {
      display: flex;
      padding: 15px 60px 15px 40px;
      gap: 20px;

      &-name {
        text-transform: capitalize;
        flex-grow: 1;
      }
    }

    &__poster {
      width: 40px;
      height: 59px;
    }

    &__btns {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }

    &__btn {
      width: 100px;
      height: 50px;
    }
  }
}
