.cdb-movies-list {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  gap: 20px;

  &__head {
    padding: 6px 60px;
    display: flex;
    border-bottom: 2px solid var(--color-gray-40);
  }

  &__title {
    margin-left: 60px;
    flex-grow: 1;
  }

  &__length {
    width: 160px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
  }

  &__rating {
    margin-right: 210px;
    width: 80px;
    display: flex;
    justify-content: center;
  }
}
