@use '~/assets/scss/mixins.scss' as *;

.cdb {
  &-layout {
    display: flex;

    &__content {
      width: 100%;
      height: 100%;
      padding: 20px 40px;
      max-height: 100dvh;
      overflow-y: auto;
      @include scrollbar;
    }
  }

  &-nav {
    width: 200px;
    height: 100dvh;
    border-right: 1px solid var(--color-gray-20);
    padding: 20px 0;

    &__item {
      display: flex;

      &:hover {
        color: var(--color-white);
        background-color: var(--color-gray-30);
        cursor: pointer;
      }

      &--current {
        outline: 1px solid var(--color-gray-20);
        background-color: var(--color-gray-40);
        pointer-events: none;
      }
    }

    &__link {
      color: var(--color-white);
      width: 100%;
      height: 100%;
      padding: 10px 0 10px 20px;
      text-align: start;
    }
  }
}
