.cdb-booking-line {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__seats {
    gap: 2px;
  }

  &__timer {
    display: flex;
    justify-content: flex-end;
  }

  &__seats,
  &__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__info,
  &__seats,
  &__btn,
  &__timer {
    width: 24%;
    flex-shrink: 0;
  }
}
