.cdb-movie-line {
  display: flex;
  align-items: center;
  padding: 0 60px;
  gap: 20px;

  &__poster {
    width: 40px;
  }

  &__title {
    flex-grow: 1;
  }

  &__length {
    width: 160px;
    display: flex;
    justify-content: center;
  }

  &__rating {
    width: 80px;
    display: flex;
    justify-content: center;
  }

  &__button {
    width: 190px;
    height: 38px;
    flex-shrink: 0;
  }

  &__length,
  &__rating,
  &__button {
    flex-shrink: 0;
  }
}
