.cdb-movie-booking {
  display: flex;
  flex-direction: column;

  &__head {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  &__back {
    color: var(--color-white);
  }

  &__icon {
    width: 40px;
    height: 40px;
  }

  &__title {
    font-size: 40px;
  }

  &__desc {
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__submit {
    width: 170px;
    margin: 14px auto 0;
  }
}
