html {
  font-family: 'Arial', 'sans-serif';
  background-color: var(--color-black);
  color: var(--color-white);
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

.iziToast {
  .iziToast-body {
    .iziToast-message {
      color: var(--color-black);
    }
  }

  &.iziToast-color-red {
    background-color: var(--color-red-10);
  }

  &.iziToast-color-yellow {
    background-color: var(--color-yellow-10);
  }

  &.iziToast-color-green {
    background-color: var(--color-green-10);
  }
}
