:root {
  --color-black: #000000;
  --color-white: #ffffff;

  --color-yellow-10: #ffffb8;
  --color-yellow-20: #ffff5c;
  --color-yellow-30: #ffff00;
  --color-yellow-40: #a3a300;
  --color-yellow-50: #474700;

  --color-green-10: #b8ffb8;
  --color-green-20: #b8ffb8;
  --color-green-30: #00ff00;
  --color-green-40: #00a300;
  --color-green-50: #004700;

  --color-red-10: #ffb8b8;
  --color-red-20: #ff5c5c;
  --color-red-30: #ff0000;
  --color-red-40: #a30000;
  --color-red-50: #470000;

  --color-gray-10: #f2f2f2;
  --color-gray-20: #bababa;
  --color-gray-30: #969696;
  --color-gray-40: #696969;
  --color-gray-50: #3b3b3b;

  --color-blue-10: #b8c1ff;
  --color-blue-20: #5c72ff;
  --color-blue-30: #0022ff;
  --color-blue-40: #0016a3;
  --color-blue-50: #000a47;
}
