.cdb-login {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  &__title {
    font-size: 28px;
  }

  &__textfield {
    width: 100%;

    @media (min-width: 1024px) {
      width: 300px;
    }
  }

  &__btn {
    margin-top: 20px;
  }

  &__info {
    font-size: 20px;
    margin-top: 20px;

    &-btn {
      color: var(--color-white);
      text-decoration: underline;
    }
  }
}
